version: '3.9'

services:
  db:
    networks:
      - dev

  s3:
    networks:
      - dev

  adminer:
    image: adminer:4.8.1-standalone
    ports:
      - 127.0.0.1:9003:8080
    networks:
      - dev

networks:
  dev:
    name: tarpisto-dev
