version: '3.9'

services:
  s3:
    build:
      context: ./docker
      dockerfile: minio.Dockerfile
    healthcheck:
      test: mc admin info local
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      INITIAL_BUCKETS: 'local/tarpisto-local'
      MINIO_ROOT_USER: tarpisto
      MINIO_ROOT_PASSWORD: tarpisto
    volumes:
      - tarpisto-minio-data:/data
    ports:
      - 127.0.0.1::9001 # S3
      - 127.0.0.1::9002 # Console

  db:
    image: postgres:15.2-alpine
    ports:
      - '127.0.0.1::5432'
    healthcheck:
      test: pg_isready -U tarpisto
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_PASSWORD=tarpisto
      - POSTGRES_USER=tarpisto
      - POSTGRES_DB=tarpisto
      - PGDATA=/data/pgdata
    volumes:
      - tarpisto-pg-data:/data/pgdata

volumes:
  tarpisto-pg-data:
  tarpisto-minio-data:
