@use '../common' as common;

.controls {
  width: 100%;
  font-size: smaller;
  margin: 30px 0;
  display: inline-block;
  box-shadow: common.$box-shadow-elevation-1;
  background: #fff;
  border-radius: 5px;
}

.create-course-form {
  display: block;
  padding: 0 0 0 10px;
}

.rename-course-form {
  display: block;
  padding: 0 0 0 10px;
}

.delete-course-form {
  display: block;
  padding: 0 0 0 10px;
}

.exam-upload-form {
  display: block;
  padding: 0 0 0 10px;
}

.delete-exam-form {
  display: block;
  padding: 0 0 0 10px;
}

.rename-exam-form {
  display: block;
  padding: 0 0 0 10px;
}

.log-out {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  font-size: 8pt;

  &__link,
  &__link:visited {
    color: #00568e;
  }
}

.exam-upload-form__file:not(:valid) + .exam-upload-form__submit,
.create-course-form__name:not(:valid) + .create-course-form__submit,
.rename-course-form__name:not(:valid) + .rename-course-form__submit {
  pointer-events: none;
  opacity: 0.7;
}
